@charset "UTF-8";
@import url(notosanskufiarabic.css);
@import url(notonaskharabic.css);
.voyager .side-menu.sidebar-inverse {
    background: #fff !important;
}

.bgimage {
    /* display: none !important; */
}

.voyager .side-menu.sidebar-inverse .navbar li.active>a {
    color: #fff !important;
    background: #ff6262;
}

.app-container {
    min-height: 100%;
    position: relative;
    background: #ececec !important;
}

.voyager .side-menu.sidebar-inverse .navbar li>a {
    color: #686868;
}

.voyager,
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    font-family: 'Noto Sans Kufi Arabic' !important;
}

html {
    font-family: 'Noto Sans Kufi Arabic', sans-serif !important;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

.app-container.expanded .content-container .side-menu .navbar-header .navbar-brand .title {
    font-family: 'Noto Sans Kufi Arabic' !important;
}

.voyager a {
    font-family: 'Noto Sans Kufi Arabic' !important;
}

.label-info {
    background-color: #2ecc71;
}

.label-primary {
    background-color: #e00;
}

.voyager .table.table-striped>tbody>tr:nth-of-type(even) {
    background-color: #f8f8f8;
}

.voyager .btn {
    border-radius: 40px !important;
    margin-right: 2px;
    margin-left: 2px;
}

.voyager .btn.btn-blue-violet {
    background: rgb(203, 6, 206);
    color: #fff;
    border: 0;
    border-radius: 3px;
    opacity: .9;
}

.voyager .side-menu.sidebar-inverse .navbar li>a:hover {
    color: #fff;
    background: #7b7b7b;
}

.voyager .pagination .active>a,
.voyager .pagination .active>a:focus,
.voyager .pagination .active>a:hover,
.voyager .pagination .active>span:focus,
.voyager .pagination .active>span:hover,
.voyager .pagination .active span {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #e00;
    border-color: #e00;
    outline: none;
}