/*
 * Noto Naskh Arabic (Arabic) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Noto Naskh Arabic';
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/NotoNaskhArabic-Regular.eot);
  src: url(../assets/fonts/NotoNaskhArabic-Regular.eot?#iefix) format('embedded-opentype'),
       url(../assets/fonts/NotoNaskhArabic-Regular.woff2) format('woff2'),
       url(../assets/fonts/NotoNaskhArabic-Regular.woff) format('woff'),
       url(../assets/fonts/NotoNaskhArabic-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Naskh Arabic';
  font-style: normal;
  font-weight: 700;
  src: url(../assets/fonts/NotoNaskhArabic-Bold.eot);
  src: url(../assets/fonts/NotoNaskhArabic-Bold.eot?#iefix) format('embedded-opentype'),
       url(../assets/fonts/NotoNaskhArabic-Bold.woff2) format('woff2'),
       url(../assets/fonts/NotoNaskhArabic-Bold.woff) format('woff'),
       url(../assets/fonts/NotoNaskhArabic-Bold.ttf) format('truetype');
}
