@charset "UTF-8";
@import url(notosanskufiarabic.css);
@import url(notonaskharabic.css);
a {
    color: #e00000;
}

a:hover {
    color: #da0000;
}

button:focus {
    outline: 0;
}

.body-definition {
    background-color: #fff;
}

.body-definition .color-green {
    margin-bottom: 25px;
    background-color: #8f8f8f;
}

.body-definition .color-green img {
    margin: 25px;
}

.body-definition a {
    text-decoration: none;
}

.body-definition button {
    width: 150px;
    height: 35px;
    background-color: transparent;
    border: 2px solid #fff;
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    font-weight: bold;
    font-size: 12px;
    margin-left: 5px;
    margin-right: 5px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    margin-bottom: 50px;
    margin-top: 10px;
}

.body-definition button:hover {
    background-color: #fff;
    color: #666;
}

.body-definition a {
    color: #fff;
}

.body-definition p {
    font-size: 20px;
    color: #fff;
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    margin-top: 15px;
    margin-bottom: 25px;
}

.body-definition .box-defin {
    box-shadow: 0px 0px 10px 1px rgba(137, 137, 137, 0.2);
    background-color: #29d16c;
    padding-bottom: 10px;
    margin-bottom: 40px;
    margin-top: 40px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.body-definition .box-defin h2 {
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    font-size: 22px;
    color: #fff;
}

.body-definition .box-defin:hover {
    box-shadow: 0px 0px 30px 3px rgba(137, 137, 137, 0.2);
}

.footer-section-defin {
    background-color: #64b6d9;
    height: 150px;
    padding-top: 15px;
    margin-top: 25px;
}

.footer-section-defin p {
    font-family: "Noto Naskh Arabic", serif;
    font-size: 14px;
    font-weight: bold;
    margin-top: 25px;
    color: #fff;
}

.footer-section-defin i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    border-radius: 50%;
    background-color: #72a7c3;
    margin-right: 5px;
    margin-left: 5px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.footer-section-defin i:hover {
    background-color: #fff;
    color: #666;
}


/****************************************
            START HEADER
****************************************/


/* .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-default .navbar-nav>li {
    float: none;
    display: inline-block;
} */

.navbar-default .navbar-nav>li>a.active {
    background-color: #e00000;
    color: #fff;
}

.navbar-default .navbar-nav>li>a.active:hover {
    background-color: #c00101;
    color: #fff;
}


/* .navbar-header {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #dddddd;
}

.navbar-brand {
    float: right;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
} */

.navbar-default {
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    font-weight: bold;
    background: #fff;
    color: #666;
    border: none;
    margin-bottom: 0px;
    /* Style the Image Used to Trigger the Modal */
    /* The Modal (background) */
    /* Modal Content (Image) */
    /* Caption of Modal Image (Image Text) - Same Width as the Image */
    /* The Modal (background) */
    /* Modal Content (Image) */
    /* Caption of Modal Image (Image Text) - Same Width as the Image */
    /* Add Animation - Zoom in the Modal */
    /* The Close Button */
    /* 100% Image Width on Smaller Screens */
    /* Links inside the dropdown */
    /* Change color of dropdown links on hover */
    /* Show the dropdown menu on hover */
    /* Change the background color of the dropdown button when the dropdown content is shown */
}

.navbar-default .navbar-nav>li>a {
    color: #666;
    padding: 25px 15px;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #e00000;
}

.navbar-default .navbar-nav>li:hover {
    /* box-shadow: 0px 0px 15px 0px #eee, 0px 0px 15px 0px #eee; */
    box-shadow: 10px 0 15px -4px rgba(221, 221, 221, 0.6), -10px 0 8px -4px rgba(221, 221, 221, 0.6);
}

.navbar-default #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar-default #myImg:hover {
    opacity: 0.7;
}

.navbar-default .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: black;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

.navbar-default .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    height: 380px;
}

.navbar-default #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar-default #myImg:hover {
    opacity: 0.7;
}

.navbar-default .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 9999;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: black;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

.navbar-default .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.navbar-default #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.navbar-default .modal-content,
.navbar-default #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0);
    }
    to {
        -webkit-transform: scale(1);
    }
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.navbar-default .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.navbar-default .close:hover,
.navbar-default .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .navbar-default .modal-content {
        width: 100%;
    }
}

.navbar-default .modal .modal-dialog {
    width: 450px;
}

.navbar-default .modal .header-login {
    background: #f1f1f1;
    height: 165px;
}

.navbar-default .modal .modal-body {
    padding: 0px;
}

.navbar-default .modal h2 {
    margin-top: 0px;
    color: #e00000;
    font-size: 22px;
    padding-top: 70px;
    padding-bottom: 10px;
}

.navbar-default .modal .form_section {
    width: 90%;
    margin: 0 auto;
    padding-top: 25px;
    padding-right: 25px;
    padding-left: 25px;
}

.navbar-default .modal button {
    margin: 0 5px;
}

.navbar-default .dropdown ul {
    text-decoration: none;
    list-style-type: none;
    margin-right: 0px;
    padding-right: 0px;
}

.navbar-default .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: normal;
}

.navbar-default .dropdown-content a:hover {
    color: #e00000;
}

.navbar-default .dropdown:hover .dropdown-content {
    display: block;
    color: #29d16c;
    z-index: 8888;
}

.navbar-default .dropdown:hover .dropbtn {
    background-color: transparent;
    color: #666;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #666 !important;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
    color: #666;
}

.header-div {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#29d06b+0,0f8ace+100 */
    background: #29d06b;
    /* Old browsers */
    background: -moz-linear-gradient(top, #29d06b 0%, #0f8ace 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #29d06b 0%, #0f8ace 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #29d06b 0%, #0f8ace 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#29d06b', endColorstr='#0f8ace', GradientType=0);
    /* IE6-9 */
    height: 500px;
    color: #fff;
    padding-top: 50px;
}

.header-div ::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #fff;
}

.header-div :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #fff;
    opacity: 1;
}

.header-div ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #fff;
    opacity: 1;
}

.header-div :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff;
}

.header-div img {
    position: absolute;
    top: -18%;
    left: -22%;
}

.header-div .right-header {
    width: 70%;
    margin-top: 50px;
}

.header-div .right-header h1 {
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    font-size: 34px;
    line-height: 1.6em;
}

.header-div .right-header p {
    font-family: "Noto Naskh Arabic", serif;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.header-div .right-header button {
    background-color: #d885aa;
    border: 1px solid #d885aa;
    color: #fff;
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    width: 120px;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 25px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.header-div .right-header button:hover {
    background-color: #ff266f;
}

.header-div .left-header {
    width: 60%;
    margin-right: 100px;
    margin-top: 50px;
}

.header-div .left-header h2 {
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    font-size: 24px;
    margin-bottom: 25px;
}

.header-div .left-header input {
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    padding-right: 10px;
    border: 2px solid #47bab3;
    background: #47bab3;
    color: #666;
    width: 100%;
    height: 35px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.header-div .left-header input:focus {
    background: #fff;
}

.header-div .left-header button {
    width: 100%;
    height: 35px;
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    background: #d885aa;
    color: #fff;
    border: 1px solid #d885aa;
    border-radius: none !important;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.header-div .left-header button:hover {
    background: #ff266f;
}


/******************** 
  END HEADER
********************* */


/* body curses */

.sections {
    background-color: #015ab2;
}

.sections .nav-pills>li>a {
    border-radius: 0px;
}

.sections h3 {
    font-size: 18px;
}

.sections li {
    text-align: center;
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    font-size: 22px;
    width: 33%;
    margin: 0 auto;
    margin-bottom: 0px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.sections li a {
    color: #47bab3;
}

.sections .nav-pills>li.active>a,
.sections .nav-pills>li.active>a:focus,
.sections .nav-pills>li.active>a:hover,
.sections li a:hover {
    border-bottom: 3px solid #fff;
    color: #fff;
    background-color: transparent;
    border-radius: none !important;
}

.boxs {
    background-color: #fff;
    padding: 12px 15px;
}

.website-sessions {
    background: #f1f1f1;
    padding: 50px 0px;
    text-align: center;
}

.website-sessions .cours-price {
    text-align: right;
}

.website-sessions .cours-price h4 {
    display: inline-block;
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    font-weight: bold;
}

.website-sessions .cours-price span {
    float: left;
    margin: 5px 10px;
    font-size: 25px;
    font-weight: bold;
}

.website-sessions p {
    font-family: "Noto Naskh Arabic", serif;
    color: #b2b2b2;
    font-weight: bold;
    line-height: 23px;
    margin-top: 10px;
    text-align: right;
}

.website-sessions hr {
    color: #333;
    margin: 20px 0px;
}

.website-sessions .explained-cours {
    text-align: right;
    margin-bottom: 10px;
    margin-top: 10px;
}

.website-sessions .level-image {
    position: absolute;
    top: 42%;
}

.website-sessions .color-wordpress {
    background-color: #4e4e4e;
    color: #fff;
    padding: 2px 5px;
}

.website-sessions .level-hard {
    background-color: #e83d3d;
    color: #fff;
    padding: 2px 5px;
}

.website-sessions .color-html {
    background-color: #4e9aca;
    color: #fff;
    padding: 2px 5px;
}

.website-sessions .color-Sass {
    background-color: #cd6799;
    color: #fff;
    padding: 2px 5px;
}

.website-sessions .color-Blogger {
    background-color: #ff6600;
    color: #fff;
    padding: 2px 5px;
}

.website-sessions .color-Css {
    background-color: #0173bc;
    color: #fff;
    padding: 2px 5px;
}

.website-sessions .level-med {
    background-color: #e6a926;
    color: #fff;
    padding: 2px 5px;
}

.website-sessions .level-easy {
    background-color: #9dbf16;
    color: #fff;
    padding: 2px 5px;
}

.website-sessions .time-writer {
    float: left;
}

.website-sessions i {
    margin-left: 5px;
    margin-top: 5px;
    color: #b2b2b2;
    font-size: 14px;
    width: 30px;
    height: 30px;
    line-height: 27px;
    padding-right: 6px;
    border-radius: 50%;
    border: 2px solid #b2b2b2;
}

.website-sessions i:hover {
    border: 2px solid #666;
    color: #666;
}

.website-sessions span {
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    font-size: 13px;
    margin-left: 5px;
    margin-right: 5px;
}

.website-sessions button {
    width: 180px;
    height: 35px;
    background: transparent;
    border: 2px solid #666;
    color: #666;
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    font-weight: bold;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.website-sessions button:hover {
    background: #666;
    border: 2px solid #666;
    color: #fff;
}

.website-sessions .button-show-more button {
    margin-top: 50px;
    width: 200px;
    height: 40px;
}


/************************************************
                 ARTICLES PAGE
 ************************************************/

.articles {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
}

.articles a {
    color: #666;
    text-decoration: none;
}

.articles h2 {
    font-size: 17px;
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    font-weight: bold;
}

.articles p {
    font-family: "Noto Naskh Arabic", serif;
    font-weight: bold;
}

.articles .box-article {
    margin-top: 25px;
    text-align: right;
}

.articles .box-article .section-title span {
    position: absolute;
    bottom: 0;
    right: 15px;
    background-color: #8493a8;
    /* padding: 4px 35px;*/
    width: 139px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-family: "Noto Naskh Arabic", serif;
}

.articles .box-article .color-pink span {
    background-color: #ea86a5;
}

.articles .box-article .color-green span {
    background-color: #92d597;
}

.articles button {
    width: 230px;
    height: 50px;
    background: transparent;
    border: 2px solid #666;
    color: #666;
    margin-top: 50px;
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    font-weight: bold;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.articles button:hover {
    background: #666;
    border: 2px solid #666;
    color: #fff;
}


/*************************
      END ARTICLES
 ************************/


/************************
       START  FOOTER
 ************************/

.footer-section {
    background-color: #fff;
    height: 300px;
    padding-top: 50px;
}

.footer-section ul {
    display: contents;
}

.footer-section li {
    display: inline;
    padding: 25px;
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    font-weight: bold;
}

.footer-section a {
    color: #6c6c6c;
    text-decoration: none;
    margin-top: 50px;
}

.footer-section p {
    font-family: "Noto Naskh Arabic", serif;
    font-size: 14px;
    font-weight: bold;
    margin-top: 25px;
}

.footer-section i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    border-radius: 50%;
    background-color: #e00000;
    margin-right: 5px;
    margin-left: 5px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.footer-section i:hover {
    background-color: #fff;
    color: #666;
}

.col-centered {
    float: none;
    margin: 0 auto;
}


/************************
       END FOOTER
 ************************/


/***********************
      INSIDE PAGE 
 **************************/

.display-center {
    display: flex;
    align-items: center;
}

.header-inside {
    display: flex;
    align-items: center;
    background-color: #0e2f3e;
    height: 320px;
    /* padding-top: 70px; */
    background-size: cover;
    background-repeat: no-repeat;
}

.header-inside .body-header-inside {
    width: 100%;
}

.header-inside .body-header-inside .header-text {
    margin-right: 15px;
    margin-left: 15px;
}

.header-inside .body-header-inside h2 {
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    color: #fff;
    /* margin-right: 40px; */
}

.header-inside .body-header-inside p {
    font-family: "Noto Naskh Arabic", serif;
    color: #fff;
    font-weight: normal;
    font-size: 1.7rem;
    /* margin-right: 40px; */
}

.header-inside .left-inside-header {
    text-align: center;
}

.header-inside .left-inside-header span {
    font-size: 60px;
    color: #fff;
}

.header-inside .left-inside-header button {
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    font-weight: bold;
    background-color: #fff;
    border: 1px solid #fff;
    color: #666;
    width: 170px;
    height: 40px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.d-btn {
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    font-weight: bold;
    background-color: #fff;
    border: 1px solid #fff;
    color: #666;
    width: 170px;
    height: 40px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.sub-link {
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    font-weight: bold;
    background-color: #fff;
    border: 1px solid #fff;
    color: #666;
    width: 170px;
    height: 40px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    padding: 5px 30px;
}

.header-inside .left-inside-header button:hover {
    background-color: #666;
    color: #fff;
    border: 1px solid #666;
}

.sub-link:hover {
    background-color: #666;
    color: #fff;
    border: 1px solid #666;
    text-decoration: none;
}

.introduction-course {
    padding-top: 20px;
    padding-bottom: 20px;
}

.introduction-course button {
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    background-color: #59bf61;
    border: 1px solid #59bf61;
    color: #fff;
    width: 100px;
    height: 35px;
}

.introduction-course button:nth-child(1) {
    background-color: #59bf61;
    border: 1px solid #59bf61;
}

.introduction-course button:nth-child(2) {
    background-color: #576373;
    border: 1px solid #576373;
}

.introduction-course .progress {
    width: 500px;
    height: 7px;
    display: inline-flex;
    margin-bottom: 0px;
    margin-right: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.introduction-course span {
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    margin-right: 10px;
}

.introduction-course .level-easy {
    background-color: #9dbf16;
    color: #fff;
    padding: 2px 5px;
}

.introduction-course .color-wordpress {
    background-color: #4e4e4e;
    color: #fff;
    padding: 2px 5px;
    margin-right: 50px;
}


/***************************
      END INSIDE PAGE 
 ***************************/

.inside-curse {
    padding-top: 50px;
    background-color: #f1f2f2;
}

.inside-curse .list-curse {
    background-color: #d5d9e0;
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    color: #666;
    font-weight: bold;
    font-size: 18px;
    padding: 15px;
}

.inside-curse .list-curse h3 {
    font-size: 18px;
    margin: 0px;
    margin-right: 10px;
}

.inside-curse .panel-default {
    margin-bottom: 30px;
}

.inside-curse .panel-default>.panel-heading {
    background-color: #fff;
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    color: #b3b3b3;
    padding: 15px;
    border-radius: none;
    margin-right: 10px;
}

.inside-curse .panel-default>.panel-heading a {
    text-decoration: none;
}

.inside-curse .panel-body {
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-right: 8px;
}

.inside-curse span {
    float: left;
}

.inside-curse i {
    margin-left: 5px;
    margin-right: 2px;
}

.inside-curse .about-div h2 {
    font-size: 16px;
    color: #666;
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    font-weight: bold;
}

.inside-curse .about-div p {
    font-size: 14px;
    color: #a3a5aa;
    font-family: "Noto Naskh Arabic", serif;
    line-height: 22px;
    font-weight: bold;
}

.inside-curse .about-div .what-learn {
    margin-bottom: 50px;
}

.inside-curse .about-div .about-teacher {
    margin-bottom: 20px;
    display: inline-block;
}

.inside-curse .about-div .about-teacher h2 {
    margin-bottom: 20px;
}

.inside-curse .about-div .about-teacher img {
    border-radius: 50%;
    border: 5px solid #a3a5aa;
    display: inline-block;
    margin-left: 10px;
}

.inside-curse .about-div .about-teacher p {
    font-size: 14px;
    color: #a3a5aa;
    font-family: "Noto Naskh Arabic", serif;
    line-height: 22px;
    font-weight: bold;
    margin-right: 25px;
    margin-bottom: 0px;
}

.inside-curse .about-div .about-curse {
    margin-bottom: 50px;
}

.inside-curse .about-div .dowanload-curse {
    margin-bottom: 50px;
}

.inside-curse .about-div .dowanload-curse button {
    width: 120px;
    height: 35px;
    background-color: transparent;
    border: 1px solid #a3a5aa;
    border-radius: 20px;
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    font-size: 12px;
    color: #a3a5aa;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.inside-curse .about-div .dowanload-curse button:hover {
    background-color: #a3a5aa;
    border: 1px solid #a3a5aa;
    color: #fff;
}

.color-green {
    color: #87c48c;
}


/***********************************
 ******* START SIGN UP PAGE *******
************************************/

.sign-up {
    margin-bottom: 50px;
}

.sign-up .navbar-default .navbar-nav>.active>a,
.sign-up .navbar-default .navbar-nav>.active>a:focus,
.sign-up .navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent !important;
    color: #e00000;
}

.sign-up .or-div {
    font-size: 20px;
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #e00000;
}

.sign-up h1 {
    color: #e00000;
    margin-top: 50px;
    font-size: 22px;
    font-family: "Noto Sans Kufi Arabic", sans-serif;
}

.sign-up h2 {
    font-size: 24px;
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    line-height: 28px;
}

.sign-up p {
    font-family: "Noto Naskh Arabic", serif;
    margin-bottom: 50px;
}

.sign-up .form_section ::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #999999;
}

.sign-up .form_section :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #999999;
    opacity: 1;
}

.sign-up .form_section ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #999999;
    opacity: 1;
}

.sign-up .form_section :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #999999;
}

.width-div-40 {
    width: 30%;
    margin: 0 auto;
    display: inline-block;
}

.width-div-40 h2 {
    margin-bottom: 25px;
}

.form-left .form-group {
    width: 100%;
}

.form-left h2 {
    font-size: 20px;
    margin-bottom: 5px;
    display: inline-block;
}

.social-media-login {
    margin-top: 20px;
}

.social-media-login h2 {
    margin-bottom: 0px;
}

.social-media-login a {
    color: #fff;
    text-decoration: none;
}

.social-media-login .facebook-div {
    background-color: #5a76b1;
    color: #fff;
    font-weight: bold;
    margin: 20px 10px;
    padding: 10px 20px;
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    display: block;
}

.social-media-login .google-div {
    background-color: #dc4e41;
    color: #fff;
    margin: 20px 10px;
    padding: 10px 20px;
    font-weight: bold;
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    display: block;
}

.width-div-20 {
    width: 16%;
    margin: 0 auto;
    display: inline-block;
}

.color-fff {
    background-color: #fff;
}

.color-red {
    background-color: red !important;
}


/***********************************
 ******* END SIGN UP PAGE *******
************************************/


/********************************
           VIDEO PAGE
***********************************/

.border-bottom {
    border-bottom: 1px solid #e8e8e8;
}

.video-section {
    border-top: 1px solid #eee;
    padding-top: 25px;
    padding-bottom: 10px;
}

.video-section .video-right {
    display: inline-block;
    margin-right: 5px;
}

.video-section .video-right h2 {
    margin-top: 0px;
    color: #fff;
    font-size: 25px;
    padding-top: 25px;
    padding-bottom: 10px;
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    display: inline-block;
}

.video-section .video-right p {
    font-size: 14px;
    font-family: "Noto Naskh Arabic", serif;
    color: #fff;
    margin-right: 3px;
    margin-bottom: 30px;
}

.video-section .video-right p a {
    text-decoration: none;
    color: #afafaf;
}

.video-section .video-left span {
    /*color: #454545;*/
    color: #fff;
    float: left;
    margin-left: 50px;
    margin-top: 20px;
    font-size: 35px;
}

.nav_li li {
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    color: #666;
    margin-right: 15px;
    padding-top: 25px;
}

.nav_li a {
    color: #666;
    margin-right: 1px;
}

.teacher-notes {
    padding: 10px 20px 150px 10px;
}

.teacher-notes h3 {
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    color: #666;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 50px;
}

.teacher-notes p {
    font-family: "Noto Naskh Arabic", serif;
    color: #454545;
    line-height: 25px;
    margin-top: 10px;
    width: 60%;
}


/********************
SECTION INDEX
*********************/

.section-inside {
    padding-top: 20px;
}

.section-inside .section-curse-top {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
}

.section-inside .section-curse-top i {
    float: left;
    margin-left: 10px;
    padding-top: 5px;
}

.section-inside .section-curse-top span {
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    margin-right: 10px;
}

.section-inside .section-curse {
    margin-bottom: 25px;
    padding: 15px;
}

.section-inside .section-curse h2 {
    margin-top: 0px;
    /* padding-top: 15px; */
    padding-bottom: 3px;
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    font-size: 25px;
    color: #666;
}

.section-inside .section-curse p {
    font-family: "Noto Naskh Arabic", serif;
    font-weight: bold;
    width: 80%;
    margin: 0 auto;
    color: #b1b1b1;
}

.section-inside .section-curse button {
    width: 200px;
    height: 35px;
    color: #fff;
    border: 1px solid #fff;
    margin: 20px 0px;
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.section-inside .section-curse button:hover {
    opacity: 0.8;
}

.color-blue {
    background-color: #838cc7;
}

.dark-green {
    background-color: #5cb860;
}

.dark-pink {
    background-color: #f092b0;
}

.dark-gold {
    background-color: #c38cd4;
}

.dark-blue {
    background-color: #53bbb4;
}

.dark-red {
    background-color: #e15258;
}


/*********************************************
************************************************/

.header-sections {
    background: #29d06b;
    /* Old browsers */
    background: -moz-linear-gradient(top, #29d06b 0%, #0f8ace 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #29d06b 0%, #0f8ace 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #29d06b 0%, #0f8ace 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#29d06b', endColorstr='#0f8ace', GradientType=0);
    /* IE6-9 */
    height: 300px;
}

.header-sections .navbar-default {
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    font-weight: bold;
    background-color: transparent;
    border: none;
    margin-bottom: 0px;
}

.header-sections .navbar-default .navbar-nav>li>a {
    color: #fff;
    margin-left: 5px;
    padding: 25px 15px;
}

.header-sections .navbar-default .navbar-nav>li>a {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.header-sections .navbar-default .navbar-nav>li>a:hover {
    color: #666;
}

.header-sections .navbar-default .navbar-header img {
    margin-top: 5px;
}

.form-group {
    font-family: "Noto Sans Kufi Arabic", sans-serif;
}

.e-form-control {
    display: block;
    width: 100%;
    height: 41px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 21px;
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); */
    /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); */
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.e-form-control:focus {
    border-color: #424242;
    outline: 0;
}

textarea.e-form-control {
    height: auto;
}

.header-sections h1 {
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    font-size: 45px;
    color: #fff;
    margin-top: 50px;
}

.inside-section {
    background: #f1f1f1;
    padding: 50px 0px;
    text-align: center;
}

.inside-section img {
    margin-top: 30px;
}

.inside-section .cours-price {
    text-align: right;
}

.inside-section .cours-price h4 {
    display: inline-block;
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    font-weight: bold;
}

.inside-section .cours-price span {
    float: left;
    margin: 5px 10px;
    font-size: 25px;
    font-weight: bold;
}

.inside-section p {
    font-family: "Noto Naskh Arabic", serif;
    color: #b2b2b2;
    font-weight: bold;
    line-height: 23px;
    margin-top: 10px;
    text-align: right;
}

.inside-section .explained-cours {
    text-align: right;
    margin-bottom: 10px;
    margin-top: 15px;
}

.inside-section .explained-cours .time-writer {
    float: left;
}

.inside-section .explained-cours i {
    margin-left: 5px;
    margin-top: 8px;
    color: #b2b2b2;
    font-size: 14px;
    width: 30px;
    height: 30px;
    line-height: 27px;
    padding-right: 6px;
    border-radius: 50%;
    border: 2px solid #b2b2b2;
}

.inside-section .explained-cours i:hover {
    border: 2px solid #666;
    color: #666;
}

.inside-section button {
    width: 150px;
    height: 40px;
    background: transparent;
    border: 2px solid #b2b2b2;
    color: #666;
    margin-top: 0px;
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    font-weight: bold;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.inside-section button:hover {
    background: #666;
    border: 2px solid #666;
    color: #fff;
}

.inside-section .show-more {
    margin-top: 50px;
}

.inside-section .show-more button {
    width: 225px;
    height: 45px;
    margin-top: 50px;
}


/* Dropdown Button */

.dropbtn {
    cursor: pointer;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}


/************************************
        START  ABOUT SITE PAGE
*************************************/

.header-about {
    background: #29d06b;
    /* Old browsers */
    background: -moz-linear-gradient(top, #29d06b 0%, #0f8ace 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #29d06b 0%, #0f8ace 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #29d06b 0%, #0f8ace 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#29d06b', endColorstr='#0f8ace', GradientType=0);
    /* IE6-9 */
    height: 300px;
}

.header-about .navbar-default {
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    font-weight: bold;
    background-color: transparent;
    border: none;
    margin-bottom: 0px;
}

.header-about .navbar-default .navbar-nav>li>a {
    color: #fff;
    margin-left: 5px;
    padding: 25px 15px;
}

.header-about .navbar-default .navbar-nav>li>a {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.header-about .navbar-default .navbar-nav>li>a:hover {
    color: #666;
}

.header-about .navbar-default .navbar-header img {
    margin-top: 5px;
}

.header-about h1 {
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    font-size: 45px;
    color: #fff;
    margin-top: 50px;
}

.header-about .navbar-default .navbar-nav>.active>a,
.header-about .navbar-default .navbar-nav>.active>a:focus,
.header-about .navbar-default .navbar-nav>.active>a:hover {
    color: #666;
    background-color: transparent !important;
}

.about-section {
    width: 70%;
    margin-bottom: 50px;
}

.about-section h2 {
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    color: #29d16c;
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.about-section p {
    font-family: "Noto Naskh Arabic", serif;
    font-weight: bold;
    color: #666;
    line-height: 22px;
    margin-bottom: 10px;
}


/*********************************
        END  ABOUT SITE PAGE
*************************************

/*******************************************
        START ARTICLES SETION 
********************************************/

.articles-body {
    padding: 20px 25px;
    margin-bottom: 15px;
}

.articles-section {
    padding: 25px 0px;
    /* margin-bottom: 50px; */
    /* -bottom: 50px; */
    font-family: "Noto Sans Kufi Arabic", sans-serif;
}

.articles-section .right-articles {
    padding: 20px 20px;
}

.articles-section p {
    font-family: "Noto Naskh Arabic", serif;
    font-size: 1.7rem;
}

.articles-section .right-articles .nav-pills>li>a {
    border-radius: 0px;
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    color: #666;
    font-weight: bold;
}

.articles-section .right-articles .nav-pills>li.active>a,
.articles-section .right-articles .nav-pills>li.active>a:focus,
.articles-section .right-articles .nav-pills>li.active>a:hover {
    color: #666;
    background-color: transparent;
    border-bottom: 1px solid #666;
    font-family: "Noto Sans Kufi Arabic", sans-serif;
}

.articles-section .right-articles .nav>li>a:focus,
.articles-section .right-articles .nav>li>a:hover {
    background-color: transparent;
}

.articles-section .right-articles .box-article {
    margin-bottom: 25px;
}

.articles-section .contant-articles .image-articles {
    display: inline-block;
}

.articles-section .contant-articles .article-text {
    display: inline-block;
    margin-right: 25px;
    width: 70%;
    position: relative;
    /* top: 50px; */
}

.articles-section .contant-articles .article-text h2 {
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    font-size: 20px;
}

.articles-section .contant-articles .article-text p {
    font-family: "Noto Naskh Arabic", serif;
    font-weight: bold;
    color: #666;
    line-height: 22px;
    font-size: 1.6rem;
}

.left-articles .articles-color-white {
    padding: 30px 30px;
    background-color: #fff;
    margin-bottom: 50px;
}

.left-articles h2 {
    font-size: 20px;
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    margin-top: 6px;
    margin-bottom: 25px;
    border-bottom: 1px solid #666;
    padding-bottom: 10px;
}

.left-articles .panel-default>.panel-heading {
    background-color: #fff;
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    color: #969696;
    padding: 8px;
    border-radius: none;
    margin-right: 10px;
}

.left-articles .panel-default>.panel-heading a {
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
}

.left-articles .panel-body {
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-right: 8px;
}

.left-articles .social-media i {
    height: 60px;
    line-height: 60px;
    padding-right: 23px;
    padding-left: 23px;
}

.left-articles .social-media a {
    color: #fff;
}


/*******************************************
        END ARTICLES SETION 
********************************************/


/******************
 START FRAME WORK
******************/

.nav-tabs>li>a:hover {
    background-color: transparent;
}

.color-000 {
    background-color: #2c3e50;
}

.color-facebook {
    background-color: #3b5998;
    display: inline-block;
}

.color-facebook:hover {
    background-color: #4c71bf;
    display: inline-block;
}

.color-twitter {
    background-color: #00aced;
    display: inline-block;
}

.color-twitter:hover {
    background-color: #55d0ff;
    display: inline-block;
}

.color-behance {
    background-color: #1769ff;
    display: inline-block;
}

.color-behance:hover {
    background-color: #649bff;
    display: inline-block;
}

.color-instagram {
    background-color: #833ab4;
    display: inline-block;
}

.color-instagram:hover {
    background-color: #9744d0;
    display: inline-block;
}

.color-fff {
    background-color: #fff;
}

.color-gray {
    background-color: #f0f0f0 !important;
}

.color-gray2 {
    background-color: #f0f0f0 !important;
    padding-bottom: 5px;
    padding-top: 5px;
}

input {
    outline: none;
}

input[type=file] {
    display: block;
    padding-top: 9px;
}

button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus {
    outline: none;
}

a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus {
    outline: none;
}


/******************
    END FRAME WORK
******************/


/*********************
     MEDIA
*********************/

@media only screen and (max-width: 650px) {
    .right-header {
        width: 100%;
    }
    .right-header h3 {
        font-size: 20px;
    }
    .right-header p {
        display: none;
    }
    .header-div .right-header {
        width: 90%;
        margin-top: 0px;
    }
    .header-div .right-header h1 {
        font-size: 22px;
    }
    .header-div .left-header {
        width: 100%;
        margin-right: 0px;
    }
    .header-div .left-header h2 {
        display: none;
    }
    .website-sessions .cours-price h4 {
        font-size: 16px;
        display: inline;
    }
    .img-none {
        display: none;
    }
    .boxs {
        margin-bottom: 50px;
    }
    .footer-section li {
        display: none;
    }
    .introduction-course .progress {
        display: none;
    }
    .body-header-inside img {
        display: none;
    }
    .header-inside .body-header-inside .header-text {
        margin-right: 0px;
        margin-left: 0px;
    }
    .left-inside-header {
        text-align: center;
    }
    .introduction-course .color-wordpress {
        margin-right: 0px;
    }
    .introduction-course button {
        width: 50px;
        font-size: 10px;
    }
    .width-div-20 {
        display: none;
    }
    .width-div-40 {
        display: block;
        width: 90%;
    }
    .sections li {
        width: 30%;
    }
    .sections h3 {
        font-size: 10px;
    }
    .articles h2 {
        font-size: 14px;
        line-height: 20px;
    }
    .image-articles img {
        display: none;
    }
}

.h-title {
    margin-top: 0px;
    padding-top: 25px;
    padding-bottom: 10px;
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    font-size: 25px;
    color: #666;
}

.tag {
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    font-size: 12px;
    margin: 5px;
    /* margin-right: 5px; */
    color: #fff;
    padding: 2px 5px;
    font-weight: normal !important;
}

.static-body {
    height: 120px;
    overflow: hidden;
    text-align: right;
}

.sub-cat-link {
    margin: 0 0 8px 2px;
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    font-size: 12px;
    color: #6d6d6d;
    padding: 5px 15px;
    font-weight: normal !important;
    border-radius: 50px;
    border: 1px solid #acacac;
}

.sub-cat-link a {
    text-decoration: none;
    color: #6d6d6d;
}

.sub-cat-link:hover {
    text-decoration: none;
    color: white;
    background-color: #6d6d6d;
    border-color: #6d6d6d;
}

.panel-green>.card-panel-heading {
    color: #6c6c6c;
    /* background-color: #59bf61; */
    /* border-color: #59bf61; */
    border-bottom: 2px solid #eee;
}

.see-all {
    float: left;
    font-weight: normal;
}

.card-panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
}

.card-panel-heading {
    font-weight: bold;
}

.inline {
    display: inline-block;
}

.s-icon {
    display: inline-block;
    margin-left: 20px;
    font-family: "Noto Naskh Arabic", serif;
    color: #666;
    margin-top: 5px;
}

.font-naskh {
    font-family: "Noto Naskh Arabic", serif;
}

.font-kufi {
    font-family: "Noto Sans Kufi Arabic", sans-serif !important;
}

.s-icon i {
    font-size: 16px;
}

.article-comments {
    border-top: 1px dashed #6c6c6c;
    padding-top: 10px;
}

.s-icon span {
    margin: 0px 4px;
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    font-size: 12px;
    /* font-weight: bold; */
}

.i-color-green {
    color: #59bf61 !important;
}

.i-color-red {
    color: #e00000 !important;
}

.i-color-gray {
    color: #adadad !important;
}

.i-color-gold {
    color: #c38cd4 !important;
}

.i-color-pink {
    color: #f16960 !important;
}

.i-color-blue {
    color: #64b6d9 !important;
}

.contant-articles {
    display: flex;
    align-items: center;
    padding: 15px;
    border: 1px solid #d3d3d3;
    margin: 15px 0px;
    border-radius: 3px;
    box-shadow: 0px 9px 10px -15px;
    position: relative;
}

.contant-articles .num-offers {
    position: absolute;
    top: 3px;
    left: 3px;
    color: #535353;
    /* background-color: #535353; */
    padding: 3px;
    border-radius: 2px;
    font-size: 13px;
}

.contant-articles:hover {
    /* background-color: rgb(240, 240, 240); */
    border: 1px solid #666;
}

.avatar {
    max-width: none;
    overflow: hidden;
    vertical-align: middle;
}

.img-thumbnail {
    padding: 4px;
    line-height: 1.42857;
    background-color: #fff;
    border: 1px solid #ddd;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    width: 100% \9;
    max-width: 100%;
    height: auto;
}

.ca-time {
    color: rgb(179, 179, 179) !important;
    font-weight: unset;
}

.is-invalid {
    border: 2px solid #dc3545 !important;
}

.invalid-feedback {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.panel-black>.e-panel-heading {
    color: #fff;
    background-color: #6c6c6c;
    border-color: #6c6c6c;
}

.panel-green>.e-panel-heading {
    color: #fff;
    background-color: #59bf61;
    border-color: #59bf61;
}

.panel-red>.e-panel-heading {
    color: #fff;
    background-color: #e00000;
    border-color: #e00000;
}

.panel-pink>.e-panel-heading {
    color: #fff;
    background-color: #f16960;
    border-color: #f16960;
}

.panel-blue>.e-panel-heading {
    color: #fff;
    background-color: #64b6d9;
    border-color: #64b6d9;
}

.e-panel {
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    margin-bottom: 20px;
    background-color: #fff;
    /* -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05); */
    /* box-shadow: 0 1px 1px rgba(0, 0, 0, .05); */
    border-radius: 6px;
}

.triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 40px solid #ea6c6c;
    border-right: 40px solid transparent;
    top: 0;
    left: 0;
}

.triangle>span {
    font-size: 16px;
    color: white;
}

.btn {
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: bold;
    /* box-shadow: 4px 4px 7px -4px #00000078; */
    border-radius: 50px;
}

.btn-none {
    background: none;
}

.btn-xs {
    padding: 5px 10px !important;
}

.triangle>span {
    position: absolute;
    top: -40px;
    left: 2px;
    transform: rotate(-45deg);
}

.e-panel-heading {
    padding: 15px 15px;
    border-bottom: 1px solid #eee;
    font-size: 18px;
    border-radius: 6px 6px 0px 0px;
}

.e-panel-heading>a {
    color: #000;
}

.width-100 {
    width: 100px !important;
}

.p-title {
    font-weight: bold;
    border-right: 4px solid #e00000;
    padding: 5px 12px;
    font-size: 1.5rem;
    background-color: #f3f3f3;
    width: 200px;
    margin-top: 20px;
    /* margin-bottom: 20px; */
}

.font-size-17 {
    font-size: 17px;
}

.fa-18 {
    font-size: 18px;
}

.font-bold {
    font-weight: bold;
}

.switch-field {
    display: flex;
    overflow: hidden;
    display: block;
    height: 41px;
}

.btn-red {
    color: white !important;
    background-color: #e00000;
    border-color: #e00000;
}

.btn-red:hover {
    background-color: #c50000;
    border-color: #c50000;
}

.btn-red:focus {
    background-color: #b90000;
    border-color: #b90000;
    outline: none;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
    height: 41px;
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 2;
    text-align: center;
    padding: 6px 16px;
    margin-left: 6px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    /* box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1); */
    transition: all 0.1s ease-in-out;
    font-weight: normal;
    margin-bottom: 0px;
    border-radius: 6px;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked+label {
    background-color: #e00000;
    box-shadow: none;
    color: #fff;
}


/* This is just for CodePen. */

.form {
    max-width: 600px;
    font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
    font-weight: normal;
    line-height: 1.625;
    margin: 8px auto;
    padding: 16px;
}

.bg-filter {
    background: rgba(0, 0, 0, 0.5);
    padding: 25px 10px;
}

.bg-filter label {
    color: white;
}

.input-select {
    display: flex;
}

.input-select select {
    width: 25%;
    border-radius: 25px 0px 0px 25px;
    border-right: 0px !important;
}

.input-select input {
    width: 75%;
    border-radius: 0px 25px 25px 0px;
}

.v-center {
    display: flex;
    align-items: center;
}

.e-form-control .error {
    border-color: #e00000;
}

.valid {
    border-color: #29d06b !important;
}

.help-block {
    position: absolute;
    display: block;
    margin-top: 0px;
    margin-bottom: 0px !important;
    /* color: #737373; */
    background-color: rgb(185, 74, 72);
    color: white !important;
    padding: 4px;
    font-size: 11px;
    left: 15px;
    z-index: 2;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 5px 10px;
    font-size: 12px;
    /* font-weight: 700; */
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 5px;
}


/* notfound style */

#container-center {
    position: relative;
    height: 80vh;
}

#container-center .container-center {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.container-center {
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    max-width: 810px;
    width: 100%;
    text-align: center;
    line-height: 1.4;
}

.container-center .notfound-404 {
    height: 190px;
}

.container-center .notfound-404 h1 {
    font-size: 146px;
    font-weight: 700;
    margin: 0px;
    color: #232323;
}


/* 
.container-center .notfound-404 h1>span {
    display: inline-block;
    width: 120px;
    height: 120px;
    background-size: cover;
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
    z-index: -1;
} */

hr {
    margin-top: 10px;
}

.container-center span {
    display: inline-block;
    width: 120px;
    height: 120px;
    background-size: cover;
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
    z-index: -1;
}

.container-center h2 {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #666;
    margin: 5px 0px;
}

.container-center p {
    color: #666;
    font-weight: 300;
    margin: 20px 0px;
}

.container-center a {
    display: inline-block;
    padding: 12px 30px;
    font-weight: 700;
    background-color: #e00000;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.container-center a:hover {
    opacity: 0.8;
}

@media only screen and (max-width: 450px) {
    .contant-ad .ad-image {
        display: none !important;
    }
}

@media only screen and (max-width: 767px) {
    .container-center .notfound-404 {
        height: 115px;
    }
    .container-center .notfound-404 h1 {
        font-size: 86px;
    }
    .container-center .notfound-404 h1>span {
        width: 86px;
        height: 86px;
    }
}


/* Table */

.table-borderless tbody+tbody,
.table-borderless td,
.table-borderless th,
.table-borderless thead th {
    border: 0 !important;
}


/* user info */

.user-info {
    display: flex;
    align-items: center;
}

.user-info .info {
    margin: 0px 5px;
}

.user-info .info>h4 {
    margin: 5px 0px;
}

.user-info .info>p {
    font-size: 1.3rem;
    margin: 1px 0px;
}


/* icon navbar */

.badge-default {
    background-color: #777;
}

.badge-primary {
    background-color: #337ab7;
}

.badge-success {
    background-color: #5cb85c;
}

.badge-info {
    background-color: #5bc0de;
}

.badge-warning {
    background-color: #f0ad4e;
}

.badge-danger {
    background-color: #d9534f;
}

.navbar-icon-top .navbar-nav>li>a>.fa,
.navbar-icon-top .navbar-nav>li>a>.glyphicon {
    position: relative;
    width: 36px;
    font-size: 18px;
}

.navbar-icon-top .navbar-nav>li>a>.fa>.badge,
.navbar-icon-top .navbar-nav>li>a>.glyphicon>.badge {
    position: absolute;
    right: 0;
    font-family: sans-serif;
}

.navbar-icon-top .navbar-nav>li>a>.fa {
    top: 3px;
    line-height: 12px;
}

.navbar-icon-top .navbar-nav>li>a>.fa>.badge {
    top: -10px;
}

.navbar-icon-top .navbar-nav>li>a>.glyphicon {
    top: 6px;
    line-height: 6px;
}

.navbar-icon-top .navbar-nav>li>a>.glyphicon>.badge {
    top: -16px;
}

@media (min-width: 768px) {
    .navbar-icon-top .navbar-brand {
        padding: 25px 15px;
    }
    .navbar-icon-top .navbar-text {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .navbar-icon-top .navbar-btn,
    .navbar-icon-top .navbar-form {
        margin-top: 18px;
        margin-bottom: 18px;
    }
    .navbar-icon-top .navbar-nav>li>a {
        text-align: center;
        display: table-cell;
        height: 70px;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
        font-weight: normal;
    }
    .navbar-icon-top .navbar-nav>li>a>.fa,
    .navbar-icon-top .navbar-nav>li>a>.glyphicon {
        display: block;
        width: 48px;
        margin: 2px auto 4px auto;
        top: 0;
        line-height: 24px;
    }
    .navbar-icon-top .navbar-nav>li>a>.fa>.badge,
    .navbar-icon-top .navbar-nav>li>a>.glyphicon>.badge {
        top: -7px;
    }
}


/* collapse */

.fa-angle-right,
.fa-angle-down {
    font-size: 22px !important;
}

a[aria-expanded=true] .fa-angle-right {
    display: none;
}

a[aria-expanded=false] .fa-angle-down {
    display: none;
}

.btn-collapse {
    padding: 0px;
}


/* phone */

.phone {
    direction: ltr;
    background-color: #5cb860;
    padding: 14px 0 7px 0px;
    font-size: 19px;
    margin-top: 10px;
    margin-bottom: 0px;
    color: #fff;
}


/* toast */

.toast-message {
    font-family: "Noto Sans Kufi Arabic", sans-serif !important;
}


/* comment */

.comment-body {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #d3d3d3;
    margin: 5px 0px;
    border-radius: 3px;
}

.comment-body .dropdown {
    position: absolute;
    left: 15px;
    top: 5px;
}

.comment-body .user-img-comment {
    display: inline-block;
}

.comment-body .comment-text {
    display: inline-block;
    margin-right: 25px;
    width: 70%;
    position: relative;
    /* top: 50px; */
    font-family: "Noto Naskh Arabic", serif;
}


/* ad */

.contant-ad {
    display: flex;
    align-items: center;
    padding: 8px;
    border: 1px solid #d3d3d3;
    margin: 15px 0px;
    border-radius: 3px;
    /* box-shadow: 0px 9px 10px -15px; */
    position: relative;
}

.ad-active {
    position: absolute;
    top: 7px;
    left: 0;
    color: #fff;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 0px 60px 60px 0px;
}

.ad-active.on {
    background: #0cac4c;
}

.ad-active.off {
    background: #e00;
}

.contant-ad .ad-image {
    display: inline-block;
}

.contant-ad .ad-image>div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 135px;
    width: 135px;
    padding: 4px;
    line-height: 1.42857;
    background-color: #fff;
    border: 1px solid #ddd;
}

.contant-ad .user-image {
    display: inline-block;
}

.contant-ad .user-image {
    /* height: 135px; */
    text-align: center;
    width: 100px;
}

.contant-ad .article-text {
    display: inline-block;
    margin-right: 25px;
    width: 70%;
    position: relative;
    /* top: 50px; */
}

.contant-ad .article-text h2 {
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    font-size: 20px;
}

.contant-ad .article-text p {
    font-family: "Noto Naskh Arabic", serif;
    font-weight: bold;
    color: #666;
    line-height: 22px;
    font-size: 1.6rem;
}

.pagination {
    color: #666;
}

.pagination>.active>span {
    background-color: #e00000;
    border-color: #e00000;
}

.pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #be0202;
    border-color: #be0202;
}

.pagination>li>a {
    color: #666;
}


/* slider */


/* CSS used here will be applied after bootstrap.css */

.carousel {
    margin-top: 20px;
}

.item .thumb {
    width: 25%;
    cursor: pointer;
    float: left;
}

.item .thumb img {
    /* width: 100%; */
    margin: 2px;
}

.item {
    text-align: center !important;
}

.item img {
    /* width: 100%; */
    height: 80px;
}

.item img.img-cover {
    height: 300px;
    width: auto !important;
    margin: auto;
}

.img-fluid {
    height: 250px;
    width: 100%;
    display: block;
    max-width: 100%;
    height: auto;
}


/* category card */

.top-categories {
    font-family: "Noto Sans Kufi Arabic", sans-serif;
}

.cat-card {
    /* display: flex; */
    /* align-items: center; */
    border: 1px solid rgb(209, 207, 207);
    border-radius: 20px;
    padding: 28px 0px;
    /* box-shadow: 0px 0 19px 0px #85858517; */
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .04);
    width: 150px;
    height: 150px;
    margin: 20px auto;
}

.cat-card:hover {
    border-color: #dbdbdb;
    background-color: #dbdbdb;
    transition: 0.5s;
}

.top-categories .cat-card p {
    font-weight: bold;
    margin: 5px 10px;
}

h3.title {
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    color: #e00000;
    margin-bottom: 50px;
    text-align: center;
    font-size: 30px;
    position: relative;
    z-index: 1;
    font-weight: bold;
}

h3.title::before {
    position: absolute;
    content: '';
    background-color: #ecf2f6;
    height: 10px;
    width: 130px;
    z-index: -1;
    bottom: -1px;
    right: 50%;
    transform: translateX(50%);
}


/* select */

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("../images/arrow.png") white no-repeat 98.5% !important;
    background: url("../images/arrow.png") white no-repeat calc(0% - -10px) !important;
}

select::-ms-expand {
    display: none;
}


/* filter */

.head-filter {
    padding: 7px 15px;
    border-bottom: 1px solid #eee;
    font-size: 18px;
    border-radius: 6px;
    margin-bottom: 10px;
    font-family: "Noto Sans Kufi Arabic", sans-serif;
}

.head-filter .order-by {
    display: flex;
    align-items: center;
    width: 60%;
    float: left;
}

.head-filter .order-by>span {
    font-size: 14px;
    width: 85px;
}


/* table */

.table>tbody>tr>td {
    vertical-align: middle;
}

.table>tbody>tr>td {
    font-size: 12px;
}

.cursor-pointer {
    cursor: pointer;
}


/* profile */

.user-cover {
    height: 280px;
    justify-content: center;
    font-family: "Noto Naskh Arabic", serif;
}

.user-cover .user-information .details>span {
    font-size: 16px;
}

.nav-tab .nav-pills>li.active>a,
.nav-tab .nav-pills>li.active>a:focus,
.nav-tab .nav-pills>li.active>a:hover {
    /* color: #666; */
    background-color: transparent;
    /* border-bottom: 3px solid #e00000; */
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    background-color: #e00000;
    color: #fff;
    transition: 0.5s;
}

.nav-pills>li+li {
    margin-right: 0px;
    margin-left: auto;
}

.nav-tab .nav>li>a:focus,
.nav-tab .nav>li>a:hover {
    background-color: #eee;
}

.nav-tab .nav-pills>li>a {
    border-radius: 0px;
    font-family: "Noto Sans Kufi Arabic", sans-serif;
    color: #666;
    padding: 18px 15px;
}

.center_div {
    margin: 0 auto;
    width: 70%;
}

.spacer {
    margin-top: 2%;
    margin-bottom: 2%;
}

.centerthis {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.grid-item--height2 {
    height: 202.5px;
}

.grid-item--height5 {
    height: 405px;
}

.grid-item--height7 {
    height: 607.5px;
}

.tile {
    border: 2.5px solid white;
}

.blue-background {
    background-color: blue;
}

.orange-background {
    background-color: orange;
}

.cards__item {
    display: -webkit-box;
    display: flex;
    width: 100%;
}

.card {
    background-color: white;
    border-radius: 0.25rem;
    /* box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25); */
    box-shadow: 0px 0px 30px -18px rgba(0, 0, 0, 0.25);
    border: 1px solid #e4e4e4;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
    position: relative;
    font-family: "Noto Sans Kufi Arabic", sans-serif;
}

.card:hover .card__image {
    -webkit-filter: contrast(100%);
    filter: contrast(100%);
}

.card__content {
    display: -webkit-box;
    display: flex;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding: 1rem;
    position: relative;
    height: 120px;
}

.card__image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    -webkit-filter: contrast(70%);
    filter: contrast(70%);
    overflow: hidden;
    position: relative;
    -webkit-transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
    transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
    transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
    transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91), -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}

.card__image::before {
    content: "";
    display: block;
    padding-top: 56.25%;
}

@media (min-width: 40rem) {
    .card__image::before {
        padding-top: 66.6%;
    }
}

.card__image--flowers {
    background-image: url(https://unsplash.it/800/600?image=82);
}

.card__image--river {
    background-image: url(https://unsplash.it/800/600?image=11);
}

.card__image--record {
    background-image: url(https://unsplash.it/800/600?image=39);
}

.card__image--fence {
    background-image: url(https://unsplash.it/800/600?image=59);
}

.card__title {
    color: #666666;
    font-size: 1.8rem;
    font-weight: 300;
    margin-top: 6px;
}

.card__text {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    font-size: 1.3rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
}

.timer {
    /* top: 135px; */
    top: -35px;
    left: 0;
    right: 0;
    margin: 10px auto;
}

.timer li {
    display: inline-block;
    font-size: 10px;
    list-style-type: none;
    padding: 3px;
    text-transform: uppercase;
    color: #fff;
    background: #e00;
    border-radius: 6px;
    width: 40px;
}

.timer li span {
    display: block;
    font-size: 14px;
}

.timer ul {
    margin: 0;
    padding: 0;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next,
.carousel-control .icon-prev {
    position: absolute;
    top: 19%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
    margin: auto;
    right: 10px;
}

@media screen and (min-width: 768px) {
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-next,
    .carousel-control .icon-prev {
        width: 30px;
        height: 30px;
        /* margin-top: -10px; */
        font-size: 30px;
    }
}

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    /* text-shadow: 0 1px 2px rgba(0,0,0,.6); */
    /* background-color: rgba(0,0,0,0); */
    filter: alpha(opacity=50);
    opacity: .5;
    height: 50px;
    margin: auto;
    background: #e00;
}

.carousel-control.right,
.carousel-control.left {
    background-image: none;
    border-radius: 50%;
}

.exchange td>span {
    color: #e00;
}

::selection {
    background: #e00000;
    color: #fff;
}

::-moz-selection {
    background: #e00000;
    color: #fff;
}


/* Custom labels: the container */

.checkcontainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    /* Chrome, Opera, Safari */
    -moz-user-select: none;
    /* Firefox 2+ */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Standard syntax */
}


/* Hide the browser's default checkbox */

.checkcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}


/* On mouse-over, add a grey background color */

.checkcontainer:hover input~.checkmark {
    background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */

.checkcontainer input:checked~.checkmark {
    background-color: #2196F3;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.checkcontainer input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.checkcontainer .checkmark:after {
    left: 10px;
    top: 6px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* Create a custom radio button */

.radiobtn {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}


/* On mouse-over, add a grey background color */

.checkcontainer:hover input~.radiobtn {
    background-color: #ccc;
}


/* When the radio button is checked, add a blue background */

.checkcontainer input:checked~.radiobtn {
    background-color: #2196F3;
}


/* Create the indicator (the dot/circle - hidden when not checked) */

.radiobtn:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the indicator (dot/circle) when checked */

.checkcontainer input:checked~.radiobtn:after {
    display: block;
}


/* Style the indicator (dot/circle) */

.checkcontainer .radiobtn:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}


/* btn-out-red */

.btn-out-red {
    border-color: #e00000;
    background: #fff;
    color: #e00;
    /* border: 2px solid; */
}


/* btn-out-red */

.btn-out-red:hover {
    background: #e00;
    color: #fff;
}

input[type="text"]:disabled {
    background: #dddddd;
}

.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}

.btn-group-sm>.btn,
.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 40px;
}

.input-group .btn {
    border-radius: 20px 0 0 20px !important;
}

.input-group .e-form-control {
    border-radius: 0px 20px 20px 0px;
}

.rate {
    height: 46px;
    padding: 0 10px;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #e00000;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #be0101;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #790303;
}

.no-rate {
    height: 46px;
}

.no-rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.no-rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    font-size: 30px;
    color: #ccc;
}

.no-rate:not(:checked)>label:before {
    content: '★ ';
}

.content-rate {
    height: 46px;
    /* padding-right: 10px; */
    width: 194px;
    text-align: center;
    margin: auto;
}

.modal-dialog-centered {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: calc(100% - (10.5rem * 2))
}

.h-comment h4 {
    padding: 9px;
    margin: 0;
    background-color: #5cb860;
    color: #fff;
    text-align: center;
    margin-bottom: 2px;
}