<template>
    <div>
        <attribute v-for="(item, index) in attributes" :key="index"></attribute>
        <div class="row">
            <div class="col-md-12">
                <button
                    type="button"
                    @click="addNewAttribute"
                    class="btn btn-primary"
                >
                    Add +
                </button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data: function() {
        return {
            attribute: {
                at_value: "",
                icon: ""
            },
            attributes: []
        };
    },
    mounted: function() {
        // this.attributes = JSON.parse(this.$el.dataset.attributes);
    },
    methods: {
        addNewAttribute: function() {
            this.attributes.push(Vue.util.extend({}, this.attribute));
        },
        removeAttribute: function(index) {
            Vue.delete(this.attributes, index);
        },
        onFileChange: function(e) {
            var files = e.target.files || e.dataTransfer.files;
            if (!files.length) {
                return;
            } else {
                this.attribute.icon = files[0];
            }
        }
    }
};
</script>

<style lang="scss" scoped></style>
