<template>
    <div class="row form-row">
        <div class="form-group col-md-5">
            <label class="control-label" for="name">Value</label>
            <div class="input-group">
                <span class="input-group-btn">
                    <button type="button" style="margin-top: 0px;" class="btn btn-danger">
                        <span class="icon voyager-x"></span>
                    </button>
                </span>

                <input
                    required=""
                    type="text"
                    class="form-control"
                    name="attributes[][value]"
                    placeholder="Value"
                />
            </div>
        </div>
        <div class="form-group col-md-5 hid" >
            <label class="control-label" for="name">Icon</label>
            <input
                class="input-file"
                type="file"
                name="attributes[][icon]"
                accept="image/*"
            />
        </div>
    </div>
</template>

<script>
export default {
    data: function() {
        return {};
    },
    mounted: function() {},
    methods: {

    },
    props: []
};
</script>

<style lang="scss" scoped>
.input-file {
    padding: 6px 12px !important;
}
.hid{
    display: none;
}
</style>
