<template>
    <div>
        <unit v-for="(item, index) in units" :key="index"></unit>
        <div class="form-group  col-md-12 ">
            <button type="button" @click="addNewUnit" class="btn btn-primary">
                Add +
            </button>
        </div>
    </div>
</template>

<script>
export default {
    data: function() {
        return {
            unit: {
                name: ""
            },
            units: []
        };
    },
    mounted: function() {
        // this.units = JSON.parse(this.$el.dataset.units);
    },
    methods: {
        addNewUnit: function() {
            this.units.push(Vue.util.extend({}, this.unit));
        },
        removeunit: function(index) {
            Vue.delete(this.units, index);
        }
    }
};
</script>

<style lang="scss" scoped></style>
