<template>
    <div class="form-group  col-md-12 ">
        <label for="name" class="control-label">Name</label>
        <input
            type="text"
            name="names[]"
            placeholder="Name"
            value=""
            class="form-control"
        />
    </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped></style>
